/* css reset */
*,:root,::after, ::before{
    
    box-sizing:border-box;
    margin:0;
    padding:0;
    /* outline:2px solid red; */
}
html,body{
    position:relative;
    background: linear-gradient(to right, #f9f6d9, #faf6ce);
    min-height: 100%;
}
.main-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
header {
    font-size: 3rem;
    font-weight: bold;
    color: #34699A;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
form {
    color:#34699A;
    font-size:1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffaa;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
#input-container{
    display:flex;
}
#input-container > .section{
    display:flex;
    flex-direction: column;
    margin:1rem;
}
#start-button {
    background-color: #113F67;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.3s;
}

#start-button:hover {
    background-color: #58A0C8;
}
.main-container>*{
    margin:1rem;
}
.game-wrapper{
    border-radius:25px;
    color:white;
    background-color: #58A0C8;
    font-size:2rem;
}
.grid-container{
    border-radius: 25px;
    background-color: #113F67;
    padding:.75rem;
    font-size: 4rem;
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(3,20vmin);
    grid-template-rows: repeat(3,20vmin);
}
.grid-cell{
    /* background-color: black; */
    border:2px solid white;
    border-radius:25px ;
    display:flex;
    justify-content: center;
    cursor:pointer;
    align-items: center;
}
.grid-cell:hover 
{
    background-color:#34699A;
}
.game-wrapper>*{
    margin:1rem;
}
#myModal{
    width: 30%; 
    height:50%; 
    background-image: url("https://media.tenor.com/r_ZRhGSyAhEAAAAM/funny-animals-joke.gif");
    background-size: cover;     
    background-position: center;  
    background-repeat: no-repeat; 
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    position: fixed;        
    top: 50%;              
    left: 50%;          
    transform: translate(-50%, -50%);
}
.modal-container{
    display:flex;
    flex-direction: column;
}
.modal-container>*{
    margin:1rem;
}
.modal-container p {
    font-size: 1.75rem;
    color: #333;
}

.modal-container button {
    background-color: #113F67;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.modal-container button:hover {
    background-color: #58A0C8;
}

footer{
    position:fixed;
    left:50%;
    bottom:5%;
    transform: translateX(-50%);
}
